@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-container .modal-inner{
  padding: 0;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.tabs button {
  flex: 1;
  padding: 10px;
  background-color: #eee;
  border: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabs button.active {
  background-color: #95b6bd;
  color: white;
  font-weight: bold;
}

.modal-body {
  padding: 10px 0;
}

.form {
  display: flex;
  /*flex-direction: column; */
  flex-wrap: wrap;
  gap: 1vh 0vw;
  width: 40vw;
  
}

.form>*{
  flex: 1 1 40%;
}

.form>.field{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.form label {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

.form input {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline-color: #2196f3;
  width: 15vw;
}

.modal-body{
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
}

.confirm-button {
  background-color: #95b6bd;
  color: white;
  border: 1px solid #95b6bd;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.cancel-button {
  background-color: white;
  color: #95b6bd;
  border: 1px solid #95b6bd;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}


@media only screen and (max-width: 900px) {
  .form {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}