.table-container {
  margin:10px auto 0 auto;
  overflow:auto;
  border-radius:10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}


.person-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px;
}

.person-table thead {
  background-color: #95b6bd;
  color: white;
}

.person-table th,
.person-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.person-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.person-table thead tr:hover {
  background-color: transparent;
}

.person-table tbody {
  max-height: 300px;
  overflow-y: auto;
  background-color: #ffffff;
}

.person-table thead,
.person-table tbody tr {
  width: 100%;
  table-layout: fixed;
}

.table-button {
  background-color: transparent;
  border:none;
  cursor: pointer;
  width: 100%;
}

.person-table .buttons{
  display: flex;
  height: auto;
  width: 7vw;
  margin-left: auto;
  padding: 3px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.confirm-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-icon{
  width: 100%;
}

.person-table thead {
  background-color: #95b6bd;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

