.odontograma{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 74%;
    align-items: center;
    color: #95b6bd;
    justify-content: center;
    flex-direction: column;
}

.odontograma.inactive{
    display: none;
}

.odontograma.Infante {
    height: 50%;
    margin: auto;
}

.odontograma.Adulto{
    height: 35%;
    margin: auto;
}

.Mixto>div{
    flex: 1 1 0%;
}


.seccion{
    display: flex;
    flex: 1 1 0%;
    box-sizing: border-box;
    width: 100%;
}

.seccion.infante.Mixto{
    width: 65%;
    margin: auto;
}

.seccion.adulto.Infante{
    display: none;
}

.seccion.infante.Adulto{
    display: none;
}

.odontograma.Infante .seccion:fis{
    border-bottom: 5px solid #95b6bd;
}

.odontograma.Mixto .seccion:first-child{
    border-bottom: 0;
}
.odontograma.Mixto .seccion:nth-child(2), .odontograma.Infante .seccion:nth-child(2){
    border-bottom: 5px solid #95b6bd;
}

.seccion:first-child{
    border-bottom: 5px solid #95b6bd;
}

.seccion>div:first-child{
    border-right: 5px solid  #95b6bd;
    padding-right: 15px ;
    justify-content: end;
    flex-direction: row-reverse;
}

.seccion>div:last-child{
    padding-left: 15px;
}

.dientes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    gap: 25px;
    padding-bottom: 10px;
}

.dientes>span{
    font-size: 3em;
    align-self: end;
}

.dientes>.fila{
    flex: 1 1 0%;
    height: 100%;
}


.fila{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.fila>span{
    font-size: 1.5em;
}
